.vtex-front-message-placeholder {
  position: fixed;
  top: 0;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background-color: #EEE;
  padding: 0 10px;
  -webkit-box-shadow: 1px 1px 10px 1px #ccc;
  -moz-box-shadow: 1px 1px 10px 1px #ccc;
  box-shadow: 1px 1px 10px 1px #ccc;
  display: none;

  .vtex-front-message-close-all{
    margin-top: 10px;
  }
}