.vtex-front-messages-placeholder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 96%;
  font-size: 15px;
  line-height: 1.3;
  overflow: hidden;
  background-color: @gray-soft;
  .border-radius(~"0 0 4px 4px");
  .translate(0,-110%);
  .z-depth-3;
  z-index: @zindex-2;
  .main-transition();

  // Opened State
  &.vtex-front-messages-placeholder-opened {
    .translate(0,0);
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .vtex-front-messages-placeholder {
    max-width: 500px;
  }
}
