.vtex-front-messages-template {
  padding: 8px 44px 8px 15px;
  color: #555;
  border-left: 3px solid #eea236;
  display: none;

  &.vtex-front-messages-template-opened {
    display: block;
  }

  &:last-of-type {
    padding-bottom: 12px;
  }

  &:first-of-type {
    padding-top: 14px;
  }

  &.vtex-front-messages-type-success {
    border-color: #4cae4c;
  }

  &.vtex-front-messages-type-info {
    border-color: #46b8da;
  }

  &.vtex-front-messages-type-warning {
    border-color: #eea236;
  }

  &.vtex-front-messages-type-danger,
  &.vtex-front-messages-type-fatal,
  &.vtex-front-messages-type-error {
    border-color: #d43f3a;
  }
}
